.cards-list-zone-lamps ion-card-header
{
  background: #ffe259;
  background: -webkit-linear-gradient(to right, #ffe259, #ffa751);
  background: linear-gradient(to right, #ffe259, #ffa751);
  margin-bottom: 15px;
}

.cards-list-zone-windows ion-card-header
{
  background: #ffe259;
  background: -webkit-linear-gradient(to right, #ffe259, #ffa751);
  background: linear-gradient(to right, #ffe259, #ffa751);
  margin-bottom: 15px;
}

.cards-list-zone-airconditionners ion-card-header
{
  background: #ffe259;
  background: -webkit-linear-gradient(to right, #ffe259, #ffa751);
  background: linear-gradient(to right, #ffe259, #ffa751);
  margin-bottom: 15px;
}

.lamp-on
{
  color: #ffe259;
}

.lamp-off
{
  color: darkgray;
}
.airconditionner-on
{
  color: #ffe259;
}

.airconditionner-off
{
  color: darkgray;
}

.window-opened
{
  color: lightskyblue;
  font-size: 4em;
}

.window-closed
{
  color: lightskyblue;
  font-size: 4em;
}

