<ion-header>
  <ion-navbar>
    <ion-title>{{ zone.title }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card class="cards-list-zone-lamps" *ngIf="zone.lamps && zone.lamps.length > 0">
    <ion-card-header>Lampes</ion-card-header>
    <ion-card-content>
      <ion-slides [pager]="true">
        <ion-slide *ngFor="let lamp of zone.lamps">
          <h2>{{ lamp.description }}</h2>
          <ion-grid>

            <ion-row center>
              <ion-col width-100>
                <ion-icon name="bulb" color="bright" [ngClass]="{'lamp-on' : lamp.status, 'lamp-off' : !lamp.status}"
                          style="font-size: 4em;"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row center>
              <ion-col width-50>
                <button ion-button color="light" round (click)="switchOnLamp(lamp);">I</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button color="light" round (click)="switchOffLamp(lamp);">O</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card class="cards-list-zone-windows" *ngIf="zone.windows && zone.windows.length > 0">
    <ion-card-header style="background-color: lightskyblue; margin-bottom: 15px;">Fenêtres</ion-card-header>
    <ion-card-content>
      <ion-slides [pager]="true">
        <ion-slide *ngFor="let mywindow of zone.windows">
          <h2>{{ mywindow.title }}</h2>
          <ion-grid>
            <!--  <ion-row center>
              <ion-col width-100>
                <ion-icon *ngIf="mywindow.status" name="square-outline" color="bright" class="window-opened"></ion-icon>
                <ion-icon *ngIf="!mywindow.status" name="square" color="bright" class="window-closed"></ion-icon>
              </ion-col>
            </ion-row>-->
            <ion-row center>
              <ion-col width-50>
                <button ion-button color="light" round (click)="openTheWindow(mywindow)">OUVRIR</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button color="light" round (click)="closeTheWindow(mywindow)">FERMER</button>
              </ion-col>
            </ion-row>
            <ion-row center>
              <ion-col width-50>
                <button ion-button color="light" round (click)="quard(mywindow)">1/4</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button color="light" round (click)="demi(mywindow)">1/2</button>
              </ion-col>
            </ion-row>
            <ion-row center>
              <ion-col width-50>
                <button ion-button color="light" round (click)="troisQuards(mywindow)">3/4</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button color="light" round (click)="stop(mywindow)">STOP</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card class="cards-list-zone-coolers" *ngIf="zone.coolers && zone.coolers.length > 0">
    <ion-card-header>Climatisation</ion-card-header>
    <ion-card-content>
      <ion-slides [pager]="true">
        <ion-slide *ngFor="let cooler of zone.coolers">
          <h2>{{ cooler.status }}</h2>
          <ion-grid>
            <ion-row center>
              <ion-col width-100>
                <ion-icon name="thermometer" color="bright"  style="font-size: 2em;"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row center>
              <ion-col width-50>
                <button ion-button color="light" round (click)="coolerOn(cooler)">
                  I
                </button>
              </ion-col>
              <ion-col width-50>
                <button ion-button color="light" round (click)="coolerOff(cooler)">
                  O
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>
