/.idea/
/target/
/smarthouse-spark.iml
/src/main/resources/public/app/node_modules/
/src/main/resources/public/app/platforms/*
/src/main/resources/public/app/plugins/*
/src/main/resources/public/app/resources/*
/src/main/resources/public/app/www/*
!/src/main/resources/public/app/www/.gitkeep
!/src/main/resources/public/app/platforms/.gitkeep
!/src/main/resources/public/app/plugins/.gitkeep
!/src/main/resources/public/app/resources/.gitkeep
