<ion-view title="Domotique" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="domotique-form3" class="list">
      <label class="item item-input" id="domotique-search2" name="search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Filtrer par zone...">
      </label>
    </form>
    <ion-list id="domotique-list6">
      <ion-item class="item-icon-left assertive" id="domotique-list-item17">
        <i class="icon ion-android-home"></i>Chambre des parents</ion-item>
      <ion-item id="domotique-list-item18">Item 2</ion-item>
      <ion-item id="domotique-list-item19">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>