<ion-view title="SmartHouse" id="page5" style="background-color:#DEDEDE;">
  <ion-content padding="true" class="has-header">
    <form id="smartHouse-form2" class="list">
      <ion-list id="smartHouse-list1">
        <label class="item item-input item-stacked-label" id="smartHouse-input1" name="username">
          <span class="input-label">Utilisateur</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="smartHouse-input2" name="password">
          <span class="input-label">Mot de passe</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="smartHouse-button5" style="font-weight:600;" class="button button-calm  button-block icon ion-android-home"> ENTRER</button>
    </form>
  </ion-content>
</ion-view>